body{
    background-color: rgb(255, 255, 255);
    color: rgb(60, 60, 60);
}

.record-info{
    display: flex;
    justify-content: center;
}

.time-info{ 
    display: flex;
    justify-content: center;
    padding-right: 20px;
}

.answer-info{
    display: flex;
    justify-content: center;
}
